.cover {
    background: url("../../img/desktop-background.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.index-heading {
    position: relative;
    top: 18vh;
    text-align: center;
    width: 100%;
    margin: auto;
    font-family: "Dancing Script", cursive;
    color: #fff;
}

.index-heading h1 {
    font-size: 12vw !important;
    font-weight: 200;
    margin: 0;
}

.index-heading p {
    font-size: 5vw !important;
}

.down-arrow {
    display: block;
    width: 5vw;
    text-decoration: none;
    font-size: 5vh;
    color: #fff;
    margin: 30vh auto 0 auto;
}

.down-arrow:focus {
    outline: 0;
}

.services-container {
    display: -webkit-box;
    display: flex;
    justify-items: center;
    width: 100%;
    text-align: center;
    margin: 8% 0;
}

.service-box {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin: auto;
    width: 33vw;
}

.service-box h1 {
    font-family: "Dancing Script", cursive;
    display: block;
    margin: 5% auto;
    font-weight: 200;
    letter-spacing: 2px;
}

.service-icon {
    height: auto;
    width: 180px;
    margin: 10px 0;
}

.service-box p {
    display: block;
    width: 60%;
    margin: 10px auto 25px auto;
    letter-spacing: 1px;
}

.home-page-about {
    display: block;
}

.about-container {
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(255, 255, 255)),
        to(rgb(163, 255, 77))
    );
    background-image: linear-gradient(rgba(255, 255, 255), rgb(163, 255, 77));
    width: 100%;
    padding-bottom: 40px;
}

.about-text-box {
    width: 70%;
    padding: 20px;
    margin: auto;
    line-height: 50vh;
}

.about-h2 {
    display: block;
    padding: 15px 0 30px 0;
    font-size: 2.2rem;
    border-bottom: 1px solid var(--background-color-mid, #444);
}

.about-text {
    display: block;
    padding: 10px 0;
    font-size: 1.2rem;
}

.about-text p {
    text-align: justify;
    margin: 15px 0;
}

.about-text,
.about-h2 {
    line-height: 30px !important;
}

.carousel {
    margin: 80px 0;
}

.carousel-container {
    margin: auto;
    width: 100%;
}

.tabs-container {
    display: -webkit-box;
    display: flex;
    width: 75%;
    margin-left: 10%;
}

.tab {
    border-bottom: 1px solid var(--blue-border, #59bdff);
    padding: 15px 25px;
}

.tab-link {
    background: none;
    border: none;
    text-decoration: none;
    color: #666;
    font-size: 1.6rem;
    cursor: pointer;
}

.tab-link:focus {
    outline: none;
}

.active {
    border-left: 1px solid var(--blue-border, #59bdff);
    border-right: 1px solid var(--blue-border, #59bdff);
    border-top: 1px solid var(--blue-border, #59bdff);
    border-bottom: none !important;
    border-radius: 5px 5px 0 0;
    color: var(--white) !important;
}

.carousel-line {
    border-bottom: 1px solid var(--blue-border, #59bdff);
    width: 100%;
}

.carousel-items {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    margin: 80px 0;
}

.carousel-btn {
    background: none;
    border: none;
    outline: none;
    font-size: 4rem;
    cursor: pointer;
}

.empty-project-array-message {
    padding: 0 10px;
    text-align: center;
}

@media (max-width: 1120px) {
    .services-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }

    .service-box p {
        width: 70%;
    }
}

@media (max-width: 820px) {
    .index-heading h1 {
        font-size: 22vw !important;
    }

    .index-heading p {
        font-size: 8vw !important;
    }

    .service-box p {
        width: 75%;
    }
}

@media (max-width: 780px) {
    .services-container {
        margin-top: 15%;
    }

    .service-box {
        width: 66vw;
    }

    .service-box h1 {
        font-size: 1.6rem;
    }

    .service-box p {
        width: 85%;
    }
}

@media (max-width: 500px) {
    .tab-link {
        font-size: 1rem;
    }
}

@media (max-width: 350px) {
    .tab-link {
        font-size: 0.8rem;
    }
}
