.text-editor-main {
    background: var(--editor-background, #d0cfce);
    background-repeat: repeat-y;
    width: 100%;
    padding: 200px 0 60px 0;
}

.text-editor-ui-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.editor-toolbar {
    position: fixed;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    top: 70px;
    left: 0;
    background-color: #a6a6a6;
    height: 45px;
    width: 100%;
    padding: 5px 0;
}

.editor-toolbar > button {
    font-size: 1.4rem;
    color: #222;
    width: 35px;
    border: none;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    margin: 0 5px;
    padding: 0 2px;
    cursor: pointer;
}

.font-menus {
    display: -webkit-box;
    display: flex;
    margin-right: 10px;
}

.font-menu {
    height: 30px;
    margin: 7px 5px 0 0;
}

.editor-toolbar > button:hover {
    background-color: #888;
    color: #fff;
}

.colour-icon {
    margin-left: 5px;
    padding-top: 13px;
}

.colourBtn {
    border: none;
    outline: none;
    background-color: transparent;
    width: 20px;
    padding-top: 10px;
    cursor: pointer;
}

.text-editor-wrapper {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.text-editor {
    width: 50%;
    background-color: #fff;
    box-shadow: 10px 10px 10px #999;
    height: 1100px;
    padding: 100px;
}

/*
============ File Panel ============
*/

.Tree {
    min-height: 0 !important;
}

.Tree.T-dark {
    background-color: var(--background-color-mid, #444) !important;
}

.file-panel {
    position: fixed;
    top: 125px;
    background-color: var(--background-color-mid, #444);
    opacity: 0.8;
    height: 100vh;
    overflow-x: hidden;
    width: 0;
    -webkit-transition: max-width, 0.1s ease-in-out;
    -webkit-transition: width, 0.1s ease-in-out;
    transition: width, 0.1s ease-in-out;
    z-index: 2;
}

.reveal {
    width: 400px;
}

.file-menu-container {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: center;
    padding: 20px 0 10px 0;
    margin: 0 10px;
}

.project-title-panel-heading-container {
    text-align: center;
    width: 90%;
    border-bottom: 1px solid var(--button-green, #4af030);
    margin: 20px auto 10px auto;
    padding: 0 10px 10px 10px;
}

.project-title-panel-heading {
    color: #fff;
    font-size: 1.4rem;
}

.project-folders-container {
    height: 200px;
    overflow-y: scroll;
}

.project-folders-container::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.file-btn {
    display: block;
    background-color: #111;
    color: #fff !important;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    height: 30px;
    width: 25%;
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.file-btn:hover {
    background-color: #000;
}

.file-btn:focus {
    outline: 0;
}

.new {
    background-color: var(--button-green, #4af030);
    color: #111 !important;
}

.new:hover {
    background-color: var(--button-green-hover, #43bb30);
    color: #fff !important;
}

.publish {
    background-color: orangered;
    color: #000 !important;
}

.publish:hover {
    background-color: rgb(187, 44, 0);
    color: #fff !important;
}

.no-files-message {
    color: #fff;
    display: block;
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin: 100px auto;
}

.panel-title-container {
    width: 80%;
    margin: 0 auto;
}

.panel-text {
    display: block;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    border-bottom: 1px solid var(--button-green, #4af030);
    padding-bottom: 10px;
}

.reveal-arrow {
    line-height: 40px;
    font-size: 60px;
}

.move-arrow {
    left: 400px;
}

.project-form-wrapper {
    position: absolute;
    top: 45px;
    left: 48px;
    height: 600px;
    width: 300px;
    margin-top: 20px;
    z-index: 5;
}

.project-form-container {
    text-align: center;
    background-color: #999;
    border-radius: 10px;
}

.project-form {
    padding: 20px 20px 5px 20px;
}

.project-form-heading {
    display: block;
    width: 90%;
    margin: auto;
    font-size: 1.5rem;
    font-weight: bold;
}

.project-form-fields {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    text-align: left;
    margin: 20px 0;
}

.project-form-label {
    font-size: 1.2rem;
    padding: 5px 0;
}

#project-description::-webkit-input-placeholder {
    font-family: "Lato", sans-serif;
}

#project-description::-moz-placeholder {
    font-family: "Lato", sans-serif;
}

#project-description:-ms-input-placeholder {
    font-family: "Lato", sans-serif;
}

#project-description::-ms-input-placeholder {
    font-family: "Lato", sans-serif;
}

#project-description::placeholder {
    font-family: "Lato", sans-serif;
}

.project-cover-image-link {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 20px;
}

.project-cover-image-link p {
    font-size: 1.2rem;
}

.upload-image-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 5px;
    cursor: pointer;
}

.upload-image-text:hover {
    color: var(--button-green, #4af030);
}

.project-form-input {
    height: 25px;
    padding-left: 2px;
}

.project-form-textarea {
    height: 100px;
}

.form-submit-btns {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.cancel {
    background-color: red !important;
}

.cancel:hover {
    background-color: #d30505 !important;
    color: #000 !important;
}

.publish-project-container,
.new-folder-container {
    position: fixed;
    top: 170px;
    left: 48px;
    width: 300px;
    background-color: #999;
    color: #555;
    border-radius: 10px;
    margin-top: 20px;
    z-index: 5;
}

.publish-project-heading,
.new-folder-heading {
    padding: 10px 0 0 30px;
}

.new-folder-input {
    width: 77%;
    height: 25px;
    margin: 0 0 25px 30px;
    padding-left: 5px;
}

.new-file-input {
    width: 77%;
    height: 25px;
    margin: 0 0 10px 30px;
    padding-left: 5px;
}

.folder-selection-label {
    display: block;
    margin: 0 0 10px 30px;
}

.folder-dropdown-selection {
    width: 80%;
    height: 25px;
    margin: 0 0 25px 30px;
    padding-left: 5px;
}

.publish-project-message {
    display: block;
    border-radius: 10px;
    background-color: #fff;
    width: 68%;
    margin: 20px auto;
    padding: 20px;
}

.collaborator-container {
    display: -webkit-box;
    display: flex;
    color: #fff;
}

.collaborator-avatar {
    border: 1px solid #111;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin: 10px 0 10px 20px;
}

.collaborator-name {
    padding: 28px 0 0 15px;
}

.folder-file-spinner {
    display: block;
    width: 30px;
    height: 30px;
    margin: 5px 0 0 75px;
}

.folder-spinner-container {
    height: 200px;
}

.loading-project-folders-spinner {
    display: block;
    justify-content: center;
    height: 30px;
    width: 30px;
    margin: auto;
    padding-top: 90px;
}

/*
============ Chat Bot ============
*/

.chat-bot-container {
    position: absolute;
    z-index: 4;
}

.chat-box {
    position: fixed;
    right: 0;
    top: 25vh;
    height: 400px;
    width: 0;
    background-color: #eeeeeed3;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top: 5px solid var(--background-color-mid, #444);
    border-left: 5px solid var(--background-color-mid, #444);
    border-bottom: 5px solid var(--background-color-mid, #444);
    -webkit-transition: width, 0.1s ease-in-out;
    transition: width, 0.1s ease-in-out;
}

.display-chat {
    width: 400px;
}

.chat-window {
    height: 80%;
    width: 100%;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: 1px solid #111;
    overflow-y: scroll;
    margin: 20px 20px 10px 20px;
}

.chat-welcome-message {
    display: block;
    text-align: justify;
    padding: 15px;
}

.chat-message-container {
    padding: 5px;
}

.chat-message-user-container {
    display: flex;
    align-items: center;
}

.chat-user-avatar {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-right: 5px;
}

.chat-user-name {
    display: block;
    font-weight: bold;
    margin: 10px 0;
}

.message-input-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 10px 10px 20px;
}

.message-input {
    width: 82%;
    height: 25px;
    padding-left: 5px;
}

.send-instant-message-btn {
    background: none;
    border: none;
    outline: none;
    color: var(--button-green, #4af030);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.send-instant-message-btn:hover {
    color: rgb(35, 151, 0);
}
